<%- include('base', { title: 'Profile'}) %>
<div class="text-center">
    <h2 class="my-5" style="font-family: Helvetica, Arial, sans-serif;color:#015222"><strong>Welcome <%= usrname%>  </strong></h1>
    <a class="btn btn-primary mb-5" style="background-color:#015222;color:aliceblue" href=https://dev-npofkt2fait2dmyy.us.auth0.com/v2/logout?returnTo=https%3A%2F%2Fsaml-access-management-foundation.onrender.com/logout&client_id=m65cl93mbAqZTjL0dqomsz1uKPb1wnGj>Logout</a>
    <div class="container">
      <%=userdetails%>
    </div>
</div>
