<%- include('base', { title: 'Profile'}) %>
    <h1 class="my-3" style="font-family: Helvetica, Arial, sans-serif;color:#af0d45;margin-left:25px"><strong>Welcome <%= usrname%>  </strong></h1>
    <a class="btn btn-primary mb-2" style="color:#e6fb0b;background-color:#af0d45;margin-left:25px" href=https://dev-npofkt2fait2dmyy.us.auth0.com/v2/logout?returnTo=https%3A%2F%2Fsaml-access-management-foundation.onrender.com/logout&client_id=m65cl93mbAqZTjL0dqomsz1uKPb1wnGj><strong>Logout</strong></a>
    <div class="text-center">
        <h3 class="my-3"><strong>Your Saml Response:</strong></h3>
        <div class="card my-5">
        <div class="card-body">
            <p><%=userdetails%></p>
        </div>
        </div>
        <img src="/images/Samluflow.png" alt="Saml Flow Image" style= "height:400;width:400">
        <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 1:</h3>
        <h5 class="card-text">User hits: </h5>
        <h5 class="card-text">https://authorizationsamlaccessmanagementfoundat.onrender.com/login</h5>
    </div>
    </div>
    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 2_1:- </h3>
        <h5 class="card-text">User redirected to:</h5>
        <h5 class="card-text">https://dev-npofkt2fait2dmyy.us.auth0.com/samlp/m65cl93mbAqZTjL0dqomsz1uKPb1wnGj?connection=Username-Password-Authentication</h5>
    </div>
    </div>

    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">SAML request :- </h3>
        <p class="card-text">&lt;?xml version=&quot;1.0&quot;?&gt;&lt;samlp:AuthnRequest xmlns:samlp=&quot;urn:oasis:names:tc:SAML:2.0:protocol&quot; ID=&quot;<%= id%>&quot; Version=&quot;2.0&quot; IssueInstant=&quot;issue-time&quot; ProtocolBinding=&quot;urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST&quot; Destination=&quot;https://dev-npofkt2fait2dmyy.us.auth0.com/samlp/m65cl93mbAqZTjL0dqomsz1uKPb1wnGj?connection=Username-Password-Authentication&quot; AssertionConsumerServiceURL=&quot;https://saml-access-management-foundation.onrender.com/callback&quot;&gt;&lt;saml:Issuer xmlns:saml=&quot;urn:oasis:names:tc:SAML:2.0:assertion&quot;&gt;https://saml-access-management-foundation.onrender.com/callback&lt;/saml:Issuer&gt;&lt;samlp:NameIDPolicy xmlns:samlp=&quot;urn:oasis:names:tc:SAML:2.0:protocol&quot; Format=&quot;urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress&quot; AllowCreate=&quot;true&quot;/&gt;&lt;samlp:RequestedAuthnContext xmlns:samlp=&quot;urn:oasis:names:tc:SAML:2.0:protocol&quot; Comparison=&quot;exact&quot;&gt;&lt;saml:AuthnContextClassRef xmlns:saml=&quot;urn:oasis:names:tc:SAML:2.0:assertion&quot;&gt;urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport&lt;/saml:AuthnContextClassRef&gt;&lt;/samlp:RequestedAuthnContext&gt;&lt;/samlp:AuthnRequest&gt;</p>
    </div>
    </div>
    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 3:-</h3>
        <h5 class="card-text">After Certificate Validation User is sent bck to the ACS url i.e. the callback page</h5>
        <h5 class="card-text">https://saml-access-management-foundation.onrender.com/callback</h5>
    </div>
    </div>
    <div class="card my-5">
    <div class="card-body">
        <h3 class="card-title" style="color:#af0d45;">Step 4:-</h3>
        <h5 class="card-text">The callback Url in turn calls the Profile page Where the Saml Response is shown</h5>
        <h5 class="card-text">https://saml-access-management-foundation.onrender.com/profile</h5>
    </div>
    </div>

    <h3 class="my-3"><strong>Behind The Scenes (Backend):</strong></h3>
    <img src="/images/bts_saml_auth_server.png" alt="Saml Flow Image">
    <img src="/images/bts_saml_web_server.png" alt="Saml Flow Image">
    </div>
