<%- include('base', { title: 'Profile'}) %>
<div class="text-center">
    <h2 class="my-5" style="font-family: Helvetica, Arial, sans-serif;color:#015222"><strong>Welcome <%= usrname%>  </strong></h1>
    <a class="btn btn-primary mb-5" style="background-color:#015222;color:aliceblue" href="https://samlaccessmanagementfoundation-ld4j.onrender.com/logout">Logout</a>
    <div class="container">
      <ul>
          <% Object.entries(userdetails).forEach(([key, value]) => { %>
            <li><strong><%= key %>:</strong> <%= value %></li>
          <% }); %>
        </ul>
    
    </div>
</div>
