<%- include('base', { title: 'Profile'}) %>
<div class="text-center">
    <h2 class="my-5" style="font-family: Helvetica, Arial, sans-serif;color:#af0d45;"><strong>Welcome <%= usrname%>  </strong></h1>
    <a class="btn btn-primary mb-5" style="color:#e6fb0b;background-color:#af0d45;" href=https://dev-npofkt2fait2dmyy.us.auth0.com/v2/logout?returnTo=https%3A%2F%2Fsaml-access-management-foundation.onrender.com/logout&client_id=m65cl93mbAqZTjL0dqomsz1uKPb1wnGj>Logout</a>
    <h3 class="my-3"><strong>Your Saml Response:</strong></h3>
    <div class="card my-5">
    <div class="card-body">
        <p><%=userdetails%></p>
    </div>
    </div>
</div>
